CSI418Proj/.vs/CSI418Proj/v15/Server/sqlite3/storage.ide-wal
CSI418Proj/.vs/CSI418Proj/v15/Server/sqlite3/storage.ide-shm
CSI418Proj/.vs/CSI418Proj/v15/Server/sqlite3/storage.ide
CSI418Proj/.vs/CSI418Proj/v15/Server/sqlite3/db.lock
CSI418Proj/CSI418Proj/App_Data/DashboardContext-20180419082354.mdf
CSI418Proj/CSI418Proj/App_Data/aspnet-CSI418Proj-20180331085201_log.ldf
CSI418Proj/CSI418Proj/App_Data/aspnet-CSI418Proj-20180331085201.mdf
CSI418Proj/CSI418Proj/App_Data/DashboardContext-20180419082354_log.ldf
