@model IEnumerable<CSI418Proj.Models.MappedFields>

@{
    ViewBag.Title = "Index";
}


<table class="table">
   
@for (int i =0; i < 10; i++) {
    <tr>
        <td>
            @Html.TextBox(" ")
        </td>
    </tr>
}

</table>
