@model IEnumerable<CSI418Proj.Models.FieldMapping>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">


    <div class="col-md-4">
        <h3>Available fields</h3>
        @{ Html.RenderAction("Index", "FieldMappings"); }
    </div>


    <div class="col-sm-4">
        <h3>Search Criteria</h3>
        <div class="col-sm-4">
            @{ Html.RenderAction("FieldNameIndex", "FieldMappings");}
        </div>
        <div class="col-sm-4">
            @{ Html.RenderAction("Index", "MappedFields");}
        </div>
    </div>


        <div class="col-sm-4">
            <h3>Image</h3>
            <figure>
                <img class="imgborder" src="" alt="imageplaceholder" />
            </figure>
        </div>
    </div>