
@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>

<table>
    <tr>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
    </tr>
</table>
<p><a class="btn btn-default" href="StandardDash">View Selection</a><a class="btn btn-default" href="StandardDash">Cancel</a></p>
