@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ICSI418 Semester Project</h1>
    <p class="lead">Welcome, please log in or register to continue</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>
            Access the application with your existing account
        </p>
        <p><a class="btn btn-default" href="../Account/Login">Login &raquo;</a></p>
    </div>
</div>